@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
}
.counteiner{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:hsl(30, 38%, 92%);
}
.main{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 355px;
    max-width: 355px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
}
.imagem img{
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;

}
.textos{
    display: flex;
    height:100%;
    width: 100%;
    flex-direction: column;
    padding:20px;
}
.textos div{
    width: 90%;
    margin: 5px 0px;

}
.perfume{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}
.titulo{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    color: hsl(212, 21%, 14%)
}
.paragrafo{
    font-family: 'Montserrat', sans-serif;   
    font-size: 15px;
    line-height: 24px;
    word-spacing: 2px;
    color: hsl(228, 12%, 48%);
}
.preco{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    color: hsl(228, 12%, 48%);
}
.newprice{
    font-family: 'Fraunces', serif;
    margin-right: 20px;
    font-size: 35px;
    color: hsl(158, 36%, 37%);
}
.botao{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    align-items: center;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    font-weight: bold;
    justify-content: center;
    
}
.botao img{
    margin-right: 10px;
}

@media screen and (min-width: 768px){
    .main {
        background-color: rgb(255, 255, 255);
        height: fit-content;
        width: 550px;
        max-width:none;
        flex-direction: row;

    }
    
    .textos{
        display: flex;
        height:359px;
        width: 100%;
    }

    .textos div{
        width: 90%;
        margin: 10px 13px;
    }

    .imagem img{
        border-radius: 10px 0 0 10px;
    }

    .perfume{
        font-size: 11px
    }
    .titulo{
        font-family: 'Fraunces', serif;
        font-size: 30px;
        line-height: 30px;
        color: hsl(212, 21%, 14%)
    }

    .paragrafo{
        font-family: 'Montserrat', sans-serif;   

        font-size: 13px;
        line-height: 18px;
        word-spacing: 2px;
        color: hsl(228, 12%, 48%);
    }
    .newprice{
        font-size: 28px;
    }
    .preco s{
        font-size: 11px;
    }
    .botao{
        width: 100%;
    }
}
